.colorPicker-picker {
  background: url(../arrow.gif) no-repeat top right;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size:0.75em;
  font-weight:bold;
  height: 16px;
  line-height: 16px;
  padding: 0;
  text-align: center;
  width: 16px;
}

.colorPicker-palette {
  background-color: #EFEFEF;
  border: 1px solid #598FEF;
  padding: 2px;
  position: absolute;
  width: 110px;
  z-index: 9999;
}
  .colorPicker_hexWrap { float:left; width: 100%; }
  .colorPicker_hexWrap label { color: #2F2F2F; font-size: 95%; margin: 5px 2px; width: 25%}
  .colorPicker_hexWrap input { border: 1px solid #000; font-size: 95%; margin: 5px 2px; padding: 0;  width: 65%; }

.colorPicker-swatch {
  border: 1px solid #000;
  cursor: pointer;
  float: left;
  height: 12px;
  line-height: 12px;
  margin: 2px;
  width: 12px;
}
